- name: login gcloud new create service account
  command: >
    gcloud auth activate-service-account
    --key-file={{ gcp_gen_key_gh }}
  register: auth_result
  failed_when: auth_result != 0
  ignore_errors: true
  

- name: check key size
  command: wc -c {{ gcp_gen_key_gh }}
  register: key_size

- name: show key size
  debug:
    var: key_size.stdout

- name: Set gcloud default project
  command: >
    gcloud config set project {{ gcp_project_id }}
  register: project_result
