    - name: Apply worker Deployment
      kubernetes.core.k8s:
        state: present
        definition:
          apiVersion: apps/v1
          kind: Deployment
          metadata:
            name: worker-deployment
            namespace: multi-app
            labels:
              app: worker
          spec:
            replicas: 1
            selector:
              matchLabels:
                component: worker
            template:
              metadata:
                labels:
                  component: worker
              spec:
                containers:
                  - name: worker
                    image: "{{ region }}-docker.pkg.dev/{{ project_id }}/{{ artifact_repo }}/multi-worker:{{ image_tag }}"
                    
                    # -------------------------
                    # Autopilot 推薦最小資源
                    # -------------------------
                    resources:
                      requests:
                        cpu: "50m"
                        memory: "128Mi"
                        ephemeral-storage: "512Mi"
                      limits:
                        cpu: "250m"
                        memory: "512Mi"
                        ephemeral-storage: "512Mi"

                    env:
                      - name: REDIS_HOST
                        value: redis-clusterip-service
                      - name: REDIS_PORT
                        value: "6379"

