- name: Apply ingress for multi-app
  kubernetes.core.k8s:
    state: present
    definition:
      apiVersion: networking.k8s.io/v1
      kind: Ingress
      metadata:
        name: ingress-service
        namespace: multi-app
        annotations:
          nginx.ingress.kubernetes.io/use-regex: "true"
          nginx.ingress.kubernetes.io/rewrite-target: "/$1"
      spec:
        ingressClassName: nginx
        rules:
          - http:
              paths:
                - path: /?(.*)
                  pathType: ImplementationSpecific
                  backend:
                    service:
                      name: client-clusterip-service
                      port:
                        number: 3000

                - path: /api/?(.*)
                  pathType: ImplementationSpecific
                  backend:
                    service:
                      name: server-clusterip-service
                      port:
                        number: 5000

