name: Deploy MultiK8s

on:
  push:
    branches:
      - master

env:
  SHA: ${{ github.sha }}

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3


      - name: Install Ansible + Python deps
        run: |
          sudo apt update
          sudo apt install -y python3-pip
          pip3 install ansible google-auth requests
          ansible --version

      - name: Set Service Key
        uses: google-github-actions/auth@v2
        with:
          credentials_json: ${{ secrets.GKE_SA_KEY }}

      - name: Set Project
        uses: google-github-actions/setup-gcloud@v2
        with:
          project_id: k8stest-478013

      - name: Run Ansible for create SA
        env:
          GITHUB_WORKSPACE: $GITHUB_WORKSPACE
        run: |
          cd ansible
          ansible-playbook playbooks/setup-gcp.yml


            


