name: CI-CD to GKE Autopilot (Terraform + Ansible)

on:
  push:
    branches: [ "master" ]

env:
  IMAGE_TAG: ${{ github.sha }}
  PROJECT_ID: ${{ secrets.GCP_PROJECT_ID }}
  REGION: ${{ secrets.GCP_REGION }}
  CLUSTER_NAME: ${{ secrets.GKE_CLUSTER_NAME }}
  ARTIFACT_REPO: ${{ secrets.ARTIFACT_REPO }}

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Set up Cloud SDK
        uses: google-github-actions/auth@v2
        with:
          credentials_json: ${{ secrets.GCP_SA_KEY }} 

      - name: Set up Cloud SDK
        uses: google-github-actions/setup-gcloud@v2
        with:
          project_id: ${{ env.REGION }}

      - name: Debug Cloud
        run: |
          gcloud auth list

      - name: Configure Docker auth for Artifact Registry
        run: |
          gcloud --quiet auth configure-docker ${{ env.REGION }}-docker.pkg.dev 

      - name: Build & push images
        run: |
          docker build -t ${{ env.REGION }}-docker.pkg.dev/${{ env.PROJECT_ID }}/${{ env.ARTIFACT_REPO }}/multi-client:${{ env.IMAGE_TAG }} ./client
          docker push    ${{ env.REGION }}-docker.pkg.dev/${{ env.PROJECT_ID }}/${{ env.ARTIFACT_REPO }}/multi-client:${{ env.IMAGE_TAG }}

          docker build -t ${{ env.REGION }}-docker.pkg.dev/${{ env.PROJECT_ID }}/${{ env.ARTIFACT_REPO }}/multi-server:${{ env.IMAGE_TAG }} ./server
          docker push    ${{ env.REGION }}-docker.pkg.dev/${{ env.PROJECT_ID }}/${{ env.ARTIFACT_REPO }}/multi-server:${{ env.IMAGE_TAG }}

          docker build -t ${{ env.REGION }}-docker.pkg.dev/${{ env.PROJECT_ID }}/${{ env.ARTIFACT_REPO }}/multi-worker:${{ env.IMAGE_TAG }} ./worker
          docker push    ${{ env.REGION }}-docker.pkg.dev/${{ env.PROJECT_ID }}/${{ env.ARTIFACT_REPO }}/multi-worker:${{ env.IMAGE_TAG }}
     #---------------------------------------------------------------------------------------------------------------------------------------------
      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3


      - name: Terraform init & apply
        working-directory: ./tf-gke-autopilot
        run: |
          terraform init -input=false
          terraform plan -input=false \
            -var="project_id=${PROJECT_ID}" \
            -var="region=${REGION}"
     #----------------------------------------------------------------------------------------------------------------------------------------------------------

      - name: Install Ansible + k8s collection
        run: |
          python -m pip install --upgrade pip
          pip install ansible
          ansible-galaxy collection install kubernetes.core

      - name: Run Ansible deploy
        working-directory: ./ansible
        env:
          PROJECT_ID: ${{ env.PROJECT_ID }}
          REGION: ${{ env.REGION }}
          CLUSTER_NAME: ${{ env.CLUSTER_NAME }}
          IMAGE_TAG: ${{ env.IMAGE_TAG }}
          ARTIFACT_REPO: ${{ env.ARTIFACT_REPO }}
        run: |
          ansible-playbook -i inventory deploy-client.yaml
